/target/
/models/
/logs/
/runs/
/pc98rl/*.so
/.venv/
**/__pycache__/
*.py[cod]
/paper/build/
/paper/*.aux
/paper/*.bbl
/paper/*.blg
/paper/*.fdb_latexmk
/paper/*.fls
/paper/*.log
/paper/*.out
/export/
/external/
/dist/
/.idea/
/dumps/
